@model MonPointOfSaleFinal.Entities.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaulPrice" class="control-label"></label>
                <input asp-for="DefaulPrice" class="form-control" />
                <span asp-validation-for="DefaulPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                <select asp-for="categoryId" asp-items="@(new SelectList(Model.categoryList, "Id", "CategoryName"))" class="form-control" >

                </select>
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ProductImage" class="form-control" hidden/>
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" onchange="loadFile(event)" />
            
    </div>
    <div class="mt-2">
        <img id="output" src="@Model.ProductImage" width="100%" />
    </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    var loadFile = function (event) {
        var output = document.getElementById("output");
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src);
        }
    }
</script>