@inject UserManager<AppUser> _userManager;
@inject SignInManager<AppUser> _signInManager;

<ul class="navbar-nav">

    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <h3>Hello, @User.Identity.Name</h3>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
        </li>
    }

</ul>